.carousel-item{
    
    height: 30rem;
    background-color: #f5d4b1;
    padding-bottom: 30px;
}
/* .container{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

} */
.space{
    position: relative;
    height: 32rem;
    width: 60%;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 300px;
}
.image{
    align-items: center;
}
h3{
    color: white;
}
p{
    color: white;
}
.img-fluid{
    height: 30rem;
    align-items: center;
    padding-left: 100px;
}